.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Media Queries */
@media (min-width: 820px) {
  .wrapper {
    flex-direction: row-reverse;
  }
}
